# --- General options --- #
# Name of website
title: Bang Nguyen Duy

#For my changes
# use meta-title: for the center heading of the page.
# use title: to set the <title> of the web page.
# use subtitle: to set the sub heading for that title(meta-title). NOTE: if(meta-title exists){subtilel visiblity = true}

# Short description of your site
description: Embedded Systems Engineer

# --- Navigation bar options --- #
# List of links in the navigation bar
navbar-links:
  Books: "books"
  About Me: 
    - About Me: aboutme
    - Contact Info: Contact_Info_nfc
    - LinkedIn Profile: "https://www.linkedin.com/in/bangnguyenduy"
    - Github Profile: "https://github.com/bangnguyendev"
  Publications:
    - Auto Login account web: 2021-02-17-auto-login-web
    - A Button for Multi Mode: 2020-11-12-mot-nut-nhan-nhieu-tinh-nang
    - Smart Clock - P2: 2020-01-23-smart-clock
    - Smart Clock - P1: 2020-01-17-smart-clock
    - Zip multiple folders: 2020-09-10-bash-script-auto-zip
  Projects:
    - Smart Clock: "https://github.com/bangnguyendev/SmartClock"
    - Sent Data ThingSpeak: "https://github.com/bangnguyendev/SentDataThingSpeak"  
    - Vehicle Speed GPS: "https://github.com/bangnguyendev/VehicleSpeedGPS"    
    - STM32 RTC RFID: "https://github.com/bangnguyendev/STMF1_RTCBackup_RFID"
    - PWM Sine Wave Generator: "https://github.com/bangnguyendev/PWMSineWaveGenerator"
  Resume: "resume/NGUYENDUYBANGCV.pdf"
  # Tags: "tags" thay thế bằng nút tìm kiếm.

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "img/My_Picture/avatar_github.jpg"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Bằng Nguyễn Duy
  rss: true
  email: "duybang140494@gmail.com"
  facebook: drake.bangnguyen
  github: bangnguyendev
  linkedin: bangnguyenduy
  stackoverflow: "12104912"
  instagram: nguyen.duy.bang
  youtube: user/chip140494
  telephone: 0784140494

# Select which links to show in the footer
footer-links-active:
  rss: true
  facebook: true
  email: true
  twitter: true
  github: true
  linkedin: true
  instagram: true
  reddit: false
  stackoverflow: true
  youtube: true
  telephone: true

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  linkedin: true

# --- Misc --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
# mail:nduybang140494@gmail.com
disqus: "bang-nguyen-blog-1"

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-64524695-2"

# Google Tag Manager ID
gtm: "GTM-P4L6M63"

# Facebook App ID
fb_app_id: "721347795190980"

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Asia/Bangkok"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  # - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile

#Meta data for your Posts
metadata:
  _posts:
    - name: "layout"
      field:
        element: "hidden"
        value: "post"
    - name: "title"
      field:
        element: "text"
        label: "Post title"
        placeholder: "Title"
        alterable: true
    - name: "subtitle"
      field:
        element: "textarea"
        label: "Subtitle"
        placeholder: "A description of your post."
        alterable: true
    - name: "date"
      field:
        element: "text"
        label: "Date"
        help: "Enter date of post."
        placeholder: "yyyy-mm-dd"
        alterable: true
    - name: "image"
      field:
        element: "text"
        label: "Image"
        help: "Add a thumbnail image to your post."
        placeholder: "Thumbnail"
        alterable: true
    - name: "published"
      field:
        element: "checkbox"
        label: "Publish"
        help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
